.profile__edit-button {
  background-image: url(../../../image/pen.png);
  background-color: black;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border-color: #FFFFFF;
  margin-left: 18px;
  margin-bottom: 30px;
}

@media screen and (max-width: 879px) {
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }
}
