.input {
  border: none;
  border-bottom: 1px solid #000;
  font-size: 14px;
  line-height: 17px;
  width: 358px;
  font-family: inherit;
  padding-bottom: 13px;
  margin: auto;
}

@media screen and (max-width: 879px) {
  .input {
    width: 238px;
  }
}
