.popup__exite {
  position: absolute;
  top: -11%;
  right: -10%;
  width: 32px;
  height: 32px;
}

@media screen and (max-width: 879px) {
  .popup__exite {
    right: 0;
    width: 20px;
    height: 20px;
  }
}
